{% extends 'base/base.html' %}
{% load static %}

{% block title %}Grup Kayıt{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Kayıt Formu</h1>
        <p>Grup Kayıt</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="id_adi" name="adi"
                               placeholder="Grup Adı" value="{{ grup_adi |default_if_none:"" }}">
                        <button type="button" id="kaydetBtn" class="btn btn-sm btn-block btn-info">Adı Güncelle</button>
                    </div>
                    <div class="col-md-2">
                        <select id="seciliUye" class="form-control">
                            {% for uye in uyeler %}
                                <option value="{{ uye.id }}"> {{ uye }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="seciliOdemeSekli" class="form-control">
                            {% for key,value in odemeler_tipleri %}
                                <option value="{{ key }}"> {{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" id="ekleBtn" class="btn btn-block btn-success">Ekle >></button>
                    </div>
                    <div class="col-md-3">
                        <div id="uyeList" class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                Grup Üyeleri
                            </a>
                            {% for uye_grup in uye_grup_listesi %}
                                <a href="#" id="uye_{{ uye_grup.uye_id }}"
                                   onclick="seciliUyeCikar({{ uye_grup.uye_id }})"
                                   class="list-group-item list-group-item-action"> {{ uye_grup.uye }}
                                    - {{ uye_grup.get_odeme_sekli_display }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <a href="{% url 'calendarapp:index_grup' %}" class="btn btn-secondary">Geri </a>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#seciliUye").select2({
                placeholder: "Üye Seçiniz",
                allowClear: true,
            });
        });
        {% if grup_id %}
            let grup_id = {{ grup_id }};
        {% else %}
            let grup_id = 0;
        {% endif %}
        $('#ekleBtn').click(function () {
            $.ajax({
                url: "{% url 'calendarapp:kaydet_grup' %}",
                data: {
                    'uye_id': $("#seciliUye").val(),
                    'odeme_sekli': $("#seciliOdemeSekli").val(),
                    'grup_id': grup_id,
                    'adi': $("#id_adi").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type: "post",
                dataType: 'json',
                success: function (data) {
                    if (data.status == "success") {
                        popupMesajGoster(data.message, data.status);
                        grup_id = data.grup_id;
                        let uye = $("#seciliUye").val();
                        $('#uyeList').append('<a href="#" id="uye_' + uye + '" onclick="seciliUyeCikar(' + uye + ')" class="list-group-item list-group-item-action">' + $("#seciliUye option:selected").text() + ' - ' + $("#seciliOdemeSekli option:selected").text() + '</a>');
                    } else {
                        popupMesajGoster(data.message, data.status);
                    }
                }
            });
        });
        $('#kaydetBtn').click(function () {
            $.ajax({
                url: "{% url 'calendarapp:guncelle_grup_adi' %}",
                data: {
                    'grup_id': grup_id,
                    'adi': $("#id_adi").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                type: "post",
                dataType: 'json',
                success: function (data) {
                    if (data.status == "success") {
                        popupMesajGoster(data.message, data.status);
                    } else {
                        popupMesajGoster(data.message, data.status);
                    }
                }
            });
        });

        function seciliUyeCikar(uye_id) {
            if (!confirm("Seçilen üye gruptan çıkartılsın mı?"))
                return;
            else {
                $.ajax({
                    url: "{% url 'calendarapp:sil_grup_uyesi' %}",
                    data: {
                        'uye_id': uye_id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'grup_id': grup_id,
                    },
                    type: "post",
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "success") {
                            popupMesajGoster(data.message, data.status);
                            grup_id = data.grup_id;
                            $('#uye_' + uye_id).remove()
                        } else {
                            popupMesajGoster(data.message, data.status);
                        }
                    }
                });
            }
        }
    </script>
{% endblock content %}