{% load static %}
<div class="modal fade " id="detayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Etkinlik Detayı</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Katılımcı:</label>
                    </div>
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.grup }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Başlangıç:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.baslangic_tarih_saat }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Bitiş:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.bitis_tarih_saat }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Abonelik Tipi:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.get_abonelik_tipi_display }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Antrenör:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.antrenor |default_if_none:"" }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Top Rengi:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.get_top_rengi_display }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Kort:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.kort }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Tamamlandı(Yönetici):</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.tamamlandi_yonetici |yesno:"Evet,Hayır" }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Tamamlandı(Antrenör):</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.tamamlandi_antrenor |yesno:"Evet,Hayır" }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Tamamlandı(Üye):</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.tamamlandi_uye |yesno:"Evet,Hayır" }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Açıklama:</label>
                    </div>
                    <div class="form-group col-md-10">
                        <textarea type="text" class="form-control" disabled
                                  rows="3">{{ etkinlik.aciklama |default_if_none:"" }}</textarea>
                    </div>
                </div>
                <div class="row">
                    {#                    <div class="form-group col-md-2">#}
                    {#                        <label class="form-control-label" for="inputBasicFirstName">Kayıt Eden:</label>#}
                    {#                    </div>#}
                    {#                    <div class="form-group col-md-4">#}
                    {#                        <input type="text" class="form-control" disabled value="{{ etkinlik.user }}">#}
                    {#                    </div>#}
                    {#                    <div class="form-group col-md-2">#}
                    {#                        <label class="form-control-label" for="inputBasicFirstName">Kayıt Tarihi:</label>#}
                    {#                    </div>#}
                    {#                    <div class="form-group col-md-4">#}
                    {#                        <input type="text" class="form-control" disabled value="{{ etkinlik.created_at }}">#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="modal-footer">
                <button  onclick="EtkinlikDuzenle({{ etkinlik.id }})" type="button" class="btn btn-success">
                    Düzenle
                </button>
                <button id="btnSil" onclick="EtkinlikSil({{ etkinlik.id }})" type="button" class="btn btn-danger">Sil
                </button>
                <button type="button" onclick="EtkinlikSerisiSil({{ etkinlik.id }})" class="btn btn-outline-danger">
                    Seriyi Sil
                </button>
                <button type="button" onclick="etkinlikTamamlandi({{ etkinlik.id }})" class="btn btn-dark"> Tamamlandı
                </button>
                <button type="button" onclick="etkinlikTamamlandiGeriAl({{ etkinlik.id }})" class="btn btn-primary">
                    Tamamlandı İptal
                </button>
                <button type="button"
                        onclick="bekleyenListesiModalDoldurAc('{{ etkinlik.baslangic_tarih_saat |date:"Y-m-d" }}T{{ etkinlik.baslangic_tarih_saat |date:"H:i:s" }}')"
                        class="btn btn-info">Bekleyen Listesi
                </button>

            </div>
        </div>
    </div>
</div>
<script>
    function EtkinlikSil(etkinlik_id) {
        debugger;
        if (confirm('Kaydı silmek istediğinize emin misiniz?')) {
            $.ajax({
                type: "Get",
                url: "{% url 'calendarapp:sil_etkinlik_by_ajax' %}",
                data: {
                    'id': etkinlik_id
                },
                success: function (data) {
                    if (data.status === 'success') {
                        $('#detayModal').modal('hide');
                        popupMesajGoster(data.message, data.status);
                        //reload page after 1 second
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        popupMesajGoster(data.message, data.status);
                    }
                },
                error: function (data) {
                    popupMesajGoster(data, 'error');
                }
            });
        }
    }

    function EtkinlikSerisiSil(etkinlik_id) {
        if (confirm('Silmek istediğinize emin misiniz?')) {
            $.ajax({
                type: "Get",
                url: "{% url 'calendarapp:sil_etkinlik_by_ajax' %}",
                data: {
                    'id': etkinlik_id,
                    'sonrakiler_silinsin_mi': true
                },
                success: function (data) {
                    if (data.status === 'success') {
                        $('#detayModal').modal('hide');
                        popupMesajGoster(data.message, data.status);
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        popupMesajGoster(data.message, data.status);
                    }
                },
                error: function (data) {
                    popupMesajGoster(data, 'error');
                }
            });
        }
    }

    function etkinlikTamamlandi(etkinlik_id) {
        debugger;
        $.ajax({
            type: "Get",
            url: "{% url 'calendarapp:etkinlik_tamamlandi_ajax' %}",
            data: {
                'id': etkinlik_id
            },
            success: function (data) {
                if (data.status === 'success') {
                    $('#detayModal').modal('hide');
                    popupMesajGoster(data.message, data.status);
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            },
            error: function (data) {
                popupMesajGoster(data, 'error');
            }
        });
    }

    function etkinlikTamamlandiGeriAl(etkinlik_id) {
        $.ajax({
            type: "Get",
            url: "{% url 'calendarapp:etkinlik_tamamlandi_iptal_ajax' %}",
            data: {
                'id': etkinlik_id
            },
            success: function (data) {
                if (data.status === 'success') {
                    $('#detayModal').modal('hide');
                    popupMesajGoster(data.message, data.status);
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            },
            error: function (data) {
                popupMesajGoster(data, 'error');
            }
        });
    }

    function EtkinlikDuzenle(etkinlik_id) {
        debugger;
        $.ajax({
            type: "Get",
            url: "{% url 'calendarapp:etkinlik_getir_modal_ajax' %}",
            data: {
                'etkinlik_id': etkinlik_id
            },
            success: function (data) {
                if (data.status === 'success') {
                    $('#kaydetModalDiv').html(data.html);
                    $('#detayModal').modal('hide');
                    $('#kaydetModal').modal('show');
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            },
            error: function (data) {
                popupMesajGoster(data, 'error');
            }
        });
    }

</script>