{% load static %}
<script src="{% static 'js/jquery.js' %}"></script>
<div class="row mb-20">
    <div class="col-md-1 col-xl-1 col-sm-1">
        <div class="row">
            <div class="container black vertical-align vertical-align-middle text-left border-bottom m-0"
                 style="height: 60px"></div>
            {% for saat in saatler %}
                <span class="container bg-indigo-700 black vertical-align vertical-align-middle text-left border-top m-0"
                      style="height: 30px;font-size: 1rem;">{{ saat }}:00</span>
                <span class="container bg-info black vertical-align vertical-align-middle text-center border-top m-0"
                      style="height: 30px;font-size: 0.8rem;">{{ saat }}:30</span>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-11 col-xl-11 col-sm-11">
        <div class="row">
            {% for kort in kortlar %}
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-3 m-0 border">
                    <div class="row">
                        <div class="container bg-info black border vertical-align vertical-align-middle text-center m-0"
                             style="height: 60px;font-size: 1.3rem">{{ kort.adi }}</div>
                    </div>
                    <div id="kort_{{ kort.id }}" class="row">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let max_etkinlik_sayisi = 0;
        let colAdet = 0;
        {% for kort in kortlar %}
            max_etkinlik_sayisi = {{ kort.max_etkinlik_sayisi }};
            colAdet = 12 / max_etkinlik_sayisi;
            for (let i = 0; i < max_etkinlik_sayisi; i++) {
                $('#kort_{{ kort.id }}').append('<div id="kort_{{ kort.id }}_col_' + i + '" class="col col-md-' + colAdet + '"></div>');
            }
        {% endfor %}
    });

</script>