{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
    <link href="{% static 'calendar/main.css' %}" rel="stylesheet"/>
{% endblock extracss %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-calendar"></i> Haftalık Plan
            - {{ secili_kort |default_if_none:"<b style='color:darkred'>Kort Seçiniz.</b>" }}</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anaysayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="row mb-1 bg-gray">
        <div class="col-md-2 col-xl-2 col-sm-2">
            <select id="cmbKortlar" class="form-control" name="kortlar">
                <option value="0">Kort Seçiniz</option>
                {% for kort in kortlar %}
                    <option {% if kort.id == secili_kort.id %} selected {% endif %}
                                                               value="{{ kort.id }}">{{ kort.adi }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 col-xl-3 col-sm-3">
            <a id="btnKortuTakvimeEkle" class="btn btn-info btn-block">Kortu Takvime Ekle</a>
        </div>
        <div id="btnTumKortlariTakvimeEkle" class="col-md-3 col-xl-3 col-sm-3">
            <a class="btn btn-success btn-block">Tümünü Takvime Ekle</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class=" modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-white" id="exampleModalLongTitle">Etkinlik Kaydet</h5>
                    <button id="modalClose1" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#" role="form" id="etkinlikForm">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="row p-2">
                                <div class="col-md-2 border p-md-2">
                                    <div class="list-group">
                                        <a href="#"
                                           class="list-group-item list-group-item-action text-center active disabled">
                                            Bu Saat İçin Bekleyen Müşteriler
                                        </a>
                                        <div id="bekleyenList"></div>
                                    </div>
                                </div>
                                <div class="col-md-1 "></div>
                                <div class="col-md-9 border p-md-2">
                                    <div class="row">
                                        {% for field in form %}
                                            <div class="form-group col-md-6 ">
                                                {% if field.name != 'pk' %}
                                                    <label for="{{ field.name }}"
                                                           class="form-control-label">
                                                        {{ field.label_tag }}
                                                        {% if field.help_text %}
                                                            <i class="fa fa-info-circle"
                                                               title="{{ field.help_text }}                                                                "></i>
                                                        {% endif %}
                                                    </label>
                                                {% endif %}
                                                <div class="">
                                                    {{ field }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" hidden id="btnYeniKayit" onclick="clearModalFields()" class="btn btn-info">
                        Yeni Kayıt
                    </button>
                    <button id="btnSil" onclick="EtkinlikSil()" type="button" class="btn btn-danger">Temizle</button>
                    <button id="modalClose2" type="button" class="btn btn-secondary">Kapat</button>
                    <button type="button" id="kaydetBtn" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'calendar/main.js' %}"></script>
    <script>
        let _selectedEvent;
        let seciliKort;
        if ('{{secili_kort}}' == 'None') {
            document.getElementById('calendar').style.display = 'none';
        } else {
            document.getElementById('calendar').style.display = 'block';
        }
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: '',
                    center: 'title',
                    right: '',
                },
                initialDate: today,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                slotDuration: '00:30:00', //seçilen zaman aralığı
                slotMinTime: '09:00:00', //takvim başlangıç saati
                slotMaxTime: '24:00:00', // takvim bitiş saati
                firstDay: 1, // haftanın ilk günü Pazartesi
                select: function (arg) {
                    clearModalFields();
                    baslangic_saat = arg.startStr.split('+')[0];
                    bitis_saat = arg.endStr.split('+')[0];
                    $("#id_baslangic_tarih_saat").val(baslangic_saat);
                    $("#id_bitis_tarih_saat").val(bitis_saat);
                    openModal(baslangic_saat);
                    calendar.unselect()
                },
                eventClick: function (arg) {
                    // Etkinlik güncelle
                    document.getElementById("btnSil").innerText = "Sil"
                    openEditModal(arg.event);
                },
                eventDragStop: function (arg, event) {
                    {#console.log("sürükle bitti");#}
                },
                eventDrop: function (info) {
                    tarih = info.event.startStr.split('+')[0].split('T')[0];
                    saat = info.event.startStr.split('+')[0].split('T')[1];
                    if (!confirm(info.event.title + " etkinliği  " + tarih + " - " + saat + " tarih saate taşınsın mı?")) {
                        info.revert();
                    } else {
                        id = info.event.id;
                        start = info.event.startStr.split('+')[0];
                        end = info.event.endStr.split('+')[0];
                        let result = etkinlikTasi(id, start, end);
                        if (!result) {
                            info.revert();
                        }
                    }
                },
                eventResize: function (info) {
                    tarih = info.event.startStr.split('+')[0].split('T')[0];
                    saat = info.event.startStr.split('+')[0].split('T')[1];
                    if (!confirm(info.event.title + " etkinliği  " + tarih + " - " + saat + " tarih saat olarak değiştirilsin mi?")) {
                        info.revert();
                    } else {
                        id = info.event.id;
                        start = info.event.startStr.split('+')[0];
                        end = info.event.endStr.split('+')[0];
                        let result = etkinlikTasi(id, start, end);
                        if (!result) {
                            info.revert();
                        }
                    }
                },
                eventDragStart: function (arg) {
                },
                eventAdd: function (arg) {
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: {{ etkinlikler |safe }},
                eventDidMount: function (arg) {
                    // Takvim üzerindeki etkinlik renklerinin gösterilmesi için
                    arg.el.style.backgroundColor = arg.event.backgroundColor
                },
            });
            calendar.render();
        });
        const closeBtn1 = document.getElementById('modalClose1');
        const closeBtn2 = document.getElementById('modalClose2');
        closeBtn1.addEventListener('click', () => closeModal());
        closeBtn2.addEventListener('click', () => closeModal());

        $('#kaydetBtn').click(function () {
            let form = $('#etkinlikForm');
            let data = form.serialize();
            $.ajax({
                url: "{% url 'calendarapp:kaydet_haftalik_plan_ajax' %}",
                data: data,
                type: "post",
                dataType: 'json',
                success: function (data) {
                    if (data.status == "success") {
                        $('#etkinlikForm').modal('hide');
                        clearModalFields();
                        popupMesajGoster(data.message, data.status);
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        popupMesajGoster(data.message, data.status);
                    }
                }
            });
        });

        function openEditModal(event) {
            _selectedEvent = event;
            document.getElementById("btnYeniKayit").hidden = false;
            $.ajax({
                url: '{% url 'calendarapp:getir_haftalik_plan_bilgisi_ajax' %}',
                type: 'GET',
                data: {
                    'id': event.id
                },
                success: function (data) {
                    const eventModal = document.getElementById('eventModal')
                    eventModal.style.display = 'block';
                    for (let item in data) {
                        if (data[item] != "null" || data[item] != "undefined" || data[item] != "") {
                            let key = item == 'id' ? 'pk' : item
                            let element = document.getElementById("id_" + key);
                            if (element)
                                element.value = data[item];
                        }
                    }
                }
            });
            bekleyenMusteriGetir(event.startStr.split('+')[0]);
        }

        function EtkinlikSil() {
            if (_selectedEvent) {
                if (confirm('Bu etkinlik silinsin mi?')) {
                    $.ajax({
                        url: '{% url 'calendarapp:sil_haftalik_plan_ajax' %}',
                        type: 'GET',
                        data: {
                            'id': _selectedEvent.id
                        },
                        success: function (result) {
                            _selectedEvent.remove();
                            closeModal();
                            popupMesajGoster(result.message);
                        }
                    });
                }
            } else
                clearModalFields();
        }

        function clearModalFields() {
            let elements = document.getElementsByClassName("form-control");
            for (let i = 0; i < elements.length; i++) {
                if (elements[i] == elements.namedItem('baslangic_tarih_saat')
                    || elements[i] == elements.namedItem('bitis_tarih_saat')
                    || elements[i] == elements.namedItem('kort')
                    || elements[i] == elements.namedItem('kortlar'))
                    continue;
                else
                    elements[i].value = "";

            }
        }

        function closeModal() {
            _selectedEvent = null;
            const eventModal = document.getElementById('eventModal')
            eventModal.style.display = 'none';
        }

        function openModal(tarih_saat) {
            _selectedEvent = null;
            document.getElementById("btnSil").innerText = "Temizle";
            document.getElementById("btnYeniKayit").hidden = true;
            $('#id_kort option[value="' + {{ secili_kort.id }} +'"]').prop('selected', true);
            bekleyenMusteriGetir(tarih_saat);
            document.getElementById('eventModal').style.display = 'block';
        }

        function etkinlikTasi(id, start, end) {
            let retVal = false;
            $.ajax({
                url: '{% url 'calendarapp:haftalik_plan_saat_bilgisi_guncelle_ajax' %}',
                type: 'GET',
                async: false,
                data: {
                    'id': id,
                    'baslangic_tarih_saat': start,
                    'bitis_tarih_saat': end
                },
                success: function (result) {
                    if (result.status == "success") {
                        retVal = true;
                        popupMesajGoster(result.message, result.status);
                    } else {
                        popupMesajGoster(result.message, result.status);
                    }
                },
                error: function (result) {
                    popupMesajGoster(result.message, result.status);
                },
            });
            return retVal;
        }

        function bekleyenMusteriGetir(tarih_saat) {
            $.ajax({
                url: '{% url 'calendarapp:bekleyen_musteri_getir_ajax' %}',
                type: 'GET',
                data: {
                    'tarih_saat': tarih_saat,
                },
                success: function (result) {
                    if (result.status == "success") {
                        $('#bekleyenList').empty();
                        for (let i = 0; i < result.data.length; i++) {
                            let element = '<a href="#" class="list-group-item list-group-item-action">' + result.data[i].adi + '</a>';
                            $('#bekleyenList').append(element);
                        }
                    }
                },
                error: function () {
                    popupMesajGoster("Seçilen saat için bekleyen rezervasyonları çekerken hata oluştu", "error");
                },
            });

        }

        //cmbKortlar change event
        $('#cmbKortlar').change(function () {
            debugger;
            let seciliKortId = $(this).val();
            if (seciliKortId != 0) {
                let url = "/haftalik-plan/" + seciliKortId;
                window.location.href = url;
            } else {
                document.getElementById('calendar').style.display = 'none';
                popupMesajGoster("Lütfen bir kort seçiniz", "error");
            }

        });



        $('#btnKortuTakvimeEkle').click(function () {
            debugger;
            let seciliKortId = $('#cmbKortlar').val();
            if (seciliKortId > 0) {
                takvimeEkle(seciliKortId);
            } else {
                document.getElementById('calendar').style.display = 'none';
                popupMesajGoster("Lütfen bir kort seçiniz", "error");
            }
        });
        $('#btnTumKortlariTakvimeEkle').click(function () {
            takvimeEkle();
        });

        function takvimeEkle(kort_id = '') {
            $.ajax({
                url: '{% url 'calendarapp:haftalik_plani_takvime_ekle_ajax' %}',
                type: 'GET',
                data: {
                    'kort_id': kort_id,
                },
                success: function (result) {
                    if (result.status == "success") {
                        popupMesajGoster(result.message, result.status);
                    }
                },
                error: function (result) {
                    popupMesajGoster(result.message, result.status);
                },
            });
        }
    </script>
{% endblock extrascripts %}
