{% extends 'base/base.html' %}
{% load static %}

{% block title %}Haftalık Program{% endblock title %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
{% endblock extracss %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static '/js/jspdf/html2canvas.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jspdf/jspdf.min.js' %}"></script>
    <script src="{% static '/template/classic/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
{% endblock %}
{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Haftalık Program</h1>
        <p>Etkinlik Listesi</p>
    </div>
    <div class="row bg-white">
        <div class="btn-group" aria-label="Basic example" role="group">
            <button id="haftayiSil" type="button" class="btn btn-outline btn-danger">
                <i class="icon wb-trash" aria-hidden="true"></i>Haftayı sil
            </button>
            <button id="haftayiOlustur" type="button" class="btn btn-outline btn-success">
                <i class="icon wb-add-file" aria-hidden="true"></i>Haftayı oluştur
            </button>
            <button id="oncekiHaftayaGit" type="button" class="btn btn-outline btn-dark"
                    title="önceki haftaya git">
                <i class="icon wb-chevron-left" aria-hidden="true"></i>Önceki
            </button>
            <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon wb-calendar" aria-hidden="true"></i>
                      </span>
                <input id="secilenTarih" type="text" class="form-control black" data-plugin="datepicker">
            </div>
            <button id="sonrakiHaftayaGit" type="button" class="btn btn-outline btn-info"
                    title="sonraki haftaya git">Sonraki
                <i class="icon wb-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-outline btn-warning" onclick="printDiv()" title="pdf olarak indir">
                <i class="icon wb-download"></i>İndir
            </button>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div id="divContent" class='html-content'>
        {{ kortlar|safe }}
    </div>
    <div id="detayModalDiv"></div>
    <div id="kaydetModalDiv"></div>
    <div id="bekleyenModalDiv"></div>
    <script>
        $(document).ready(function () {
            $('#secilenTarih').datepicker({
                format: 'yyyy.mm.dd',
                //language: 'tr',
                autoclose: true,
                todayHighlight: true,
            }).on('changeDate', function (e) {
                let url = "/etkinlik/index/" + $('#secilenTarih').val();
                window.location.href = url;
            }).val('{{ sorgulanan_tarih }}');
            {% for gun in haftanin_gunleri %}
                etkinlikleriGetir('{{ gun }}');
            {% endfor %}
        });

        function etkinlikleriGetir(sorgulanan_gun) {
            $.ajax({
                url: "{% url 'calendarapp:gunun_etkinlikleri_ajax' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'tarih': sorgulanan_gun
                },
                success: function (result) {
                    for (let i = 0; i < result.liste.length; i++) {
                        plan = result.liste[i];
                        let hucreIdListesi = planinDahilOlduguHucreIdleri(plan.baslangic_tarih_saat, plan.bitis_tarih_saat, plan.kort_id);
                        for (let j = 0; j < hucreIdListesi.length; j++) {
                            let eklenecekDivs = $("div[id^='" + hucreIdListesi[j] + "']");
                            if (eklenecekDivs == null || eklenecekDivs.length == 0) {
                                continue;
                            } else {
                                let bolunme_sayisi = bolunmeSayisiGetir(plan.top_rengi);
                                for (let t = bolunme_sayisi; t < eklenecekDivs.length; t++) {
                                    //fazla divleri sil
                                    eklenecekDivs[t].remove();
                                }
                                eklenecekDivs[0].classList.add('doluEtkinlik');
                                eklenecekDivs[0].classList.remove('bosEtkinlik');
                                eklenecekDivs[0].classList.remove('bg-white');
                                eklenecekDivs[0].setAttribute('id', plan.id);
                                eklenecekDivs[0].setAttribute('style', 'background-color:' + plan.renk);
                                eklenecekDivs[0].innerHTML = plan.grup;
                            }
                        }
                    }
                }
            });
        }

        function planinDahilOlduguHucreIdleri(baslangic_tarih_saat, bitis_tarih_saat, kort_id) {
            let baslangic = new Date(baslangic_tarih_saat);
            let bitis = new Date(bitis_tarih_saat);
            let yarim_saat_sayisi = (bitis - baslangic) / 1000 / 60 / 30;
            let idList = [];
            let id;
            for (let i = 0; i < yarim_saat_sayisi; i++) {
                let saat;
                let dakkika;
                if (baslangic.getMinutes() == 0)
                    dakkika = baslangic.getMinutes() + '0';
                else
                    dakkika = baslangic.getMinutes();
                if (baslangic.getHours() < 10)
                    saat = '0' + baslangic.getHours();
                else
                    saat = baslangic.getHours();
                saat = saat + '-' + dakkika;
                baslangic.setMinutes(baslangic.getMinutes() + 30);
                id = 'saat_' + saat + '_kort_' + kort_id + '_tarih_' + baslangic.toISOString().split('T')[0]
                idList.push(id);
            }
            return idList;
        }

        function bolunmeSayisiGetir(top_rengi) {
            if (top_rengi === 'Kirmizi') {
                return 5;
            } else if (top_rengi === 'Turuncu' | top_rengi === 'Sari' | top_rengi === 'Yesil') {
                return 2;
            } else if (top_rengi === 'Yetiskin') {
                return 1;
            } else if (top_rengi === 'TenisOkulu') {
                return 6;
            }
        }

        $(document).on('click', '.doluEtkinlik', function () {
            let id = $(this).attr('id');
            if (id != null && id != undefined) {
                $.ajax({
                    url: " {% url 'calendarapp:etkinlik_detay_modal_getir_ajax' %}",
                    type: "GET",
                    data: {
                        'etkinlik_id': id
                    },
                    dataType: "json",
                    success: function (result) {
                        $('#detayModalDiv').html(result.html);
                        $('#detayModal').modal('show');
                    }
                });
            }
        });

        $(document).on('click', '.bosEtkinlik', function () {
            let parent_id = $(this).parent().attr('id');
            let kort_id = parent_id.split('_')[0];
            let baslangic_tarih = parent_id.split('_')[1];
            let saat = parent_id.split('_')[2].replace('-', ':');
            let baslangic_tarih_saat = baslangic_tarih + 'T' + saat;
            kayitModalAc(baslangic_tarih_saat, kort_id)
        });

        function kayitModalAc(baslangic_tarih_saat, kort_id) {
            $.ajax({
                url: "{% url 'calendarapp:etkinlik_kaydet_modal_getir_ajax' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'baslangic_tarih_saat': baslangic_tarih_saat,
                    'kort_id': kort_id
                },
                success: function (result) {
                    $('#kaydetModalDiv').html(result.html);
                    $('#kaydetModal').modal('show');
                }
            });
        }

        $(document).on('click', '.beklenenSaat', function () {
            let id = $(this).attr('id');
            let gun = id.split('_')[1];
            let saat = id.split('_')[0].replace('-', ':');
            bekleyenListesiModalDoldurAc("", gun, saat);
        });

        function bekleyenListesiModalDoldurAc(tarihSaat, beklenenGun = "", beklenenSaat = "") {
            $.ajax({
                url: "{% url 'calendarapp:bekleyen_musteri_modal_getir_ajax' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'tarih_saat': tarihSaat,
                    'beklenen_gun': beklenenGun,
                    'beklenen_saat': beklenenSaat,
                },
                success: function (result) {
                    $('#bekleyenModalDiv').html(result.html);
                    $('#bekleyenModal').modal('show');
                }
            });
        }


        $('#oncekiHaftayaGit').click(function () {
            haftayaGit(-7);
        });

        $('#sonrakiHaftayaGit').click(function () {
            haftayaGit(7);
        });


        $('#haftayiOlustur').click(function () {
            let tarih = '{{ sorgulanan_tarih |date:"Y/m/d"}}';
            if (tarih != null && tarih != undefined && tarih != '') {
                $.ajax({
                    url: "{% url 'calendarapp:haftanin_etkinliklerini_sabit_plandan_olustur_ajax' %}",
                    type: "GET",
                    dataType: "json",
                    data: {
                        'tarih': tarih,
                    },
                    success: function (data) {
                        if (data.success) {
                            popupMesajGoster(data.message, data.status);
                        } else {
                            popupMesajGoster(data.message, data.status);
                        }
                    }
                });
            } else {
                alert('Tarih bulunamadı');
            }
        });

        $('#haftayiSil').click(function () {
            if (confirm('Haftayı silmek istediğinize emin misiniz?')) {
                let tarih = '{{ sorgulanan_tarih |date:"Y/m/d"}}';
                if (tarih != null && tarih != undefined && tarih != '') {
                    $.ajax({
                        url: "{% url 'calendarapp:haftanin_etkinliklerini_sil_ajax' %}",
                        type: "GET",
                        dataType: "json",
                        data: {
                            'tarih': tarih,
                        },
                        success: function (data) {
                            if (data.success) {
                                popupMesajGoster(data.message, data.status);
                            } else {
                                popupMesajGoster(data.message, data.status);
                            }
                        }
                    });
                } else {
                    alert('Tarih bulunamadı');
                }
            }
        });

        function haftayaGit(gidilecekGun) {
            let seciliTarih = '{{sorgulanan_tarih|date:"Y/m/d"}}';
            let haftaTarihi = new Date(seciliTarih.split('/')[0], seciliTarih.split('/')[1] - 1, seciliTarih.split('/')[2]);
            haftaTarihi.setDate(haftaTarihi.getDate() + gidilecekGun);
            let url = "/etkinlik/index/" + haftaTarihi.getFullYear() + "." + (haftaTarihi.getMonth() + 1) + "." + haftaTarihi.getDate();
            window.location.href = url;
        }

        function printDiv() {
            var HTML_Width = $(".html-content").width();
            var HTML_Height = $(".html-content").height();
            var top_left_margin = 80;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;
            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($(".html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("etkinlikler.pdf");
            });
        }

    </script>
{% endblock content %}
