{% extends 'base/base.html' %}
{% load static %}

{% block title %}Etkinlik Listesi{% endblock title %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
{% endblock extracss %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static '/js/jspdf/html2canvas.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jspdf/jspdf.min.js' %}"></script>
{% endblock %}
{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Etkinlikler</h1>
        <p>Etkinlik Listesi</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <a onclick="printDiv()" class="btn btn-success float-right black" style="margin: auto">
            <i class="fa fa-file-pdf-o"> PDF indir</i>
        </a>
    </div>
    <div class='html-content'>
        <div class="row">
            {% for kort in kortlar %}
                <div id="kort_{{ kort.id }}" class="col-md-4 col-sm-4 col-xs-4 col-lg-3 m-0 border">
                    <div class="row">
                        <div class="container bg-info vertical-align border"
                             style="height: 50px">
                            <div class="vertical-align-middle black">
                                {{ kort.adi }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="kort_{{ kort.id }}_col_1" class="col col-md-3 bg-danger">a</div>
                        <div id="kort_{{ kort.id }}_col_2" class="col col-md-3 bg-dark">b</div>
                        <div id="kort_{{ kort.id }}_col_3" class="col col-md-3 bg-info">c</div>
                        <div id="kort_{{ kort.id }}_col_4" class="col col-md-3 bg-success">d</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            etkinlikleri_getir();
        });

        function etkinlikleri_getir() {
            $.ajax({
                url: "{% url 'calendarapp:gunun_etkinlikleri_ajax' %}",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    console.log(data.json[2]['09:00']);
                    let saatIcindekiEtkinlikler = data.json[2]['09:00'];
                    debugger;
                    let a= JSON.parse(data.json);
                    console.log(a);
                }
            });
        }

        function printDiv() {
            var HTML_Width = $(".html-content").width();
            var HTML_Height = $(".html-content").height();
            var top_left_margin = 80;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;
            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($(".html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("etkinlikler.pdf");
            });
        }


    </script>
{% endblock content %}
