{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
    <link href="{% static 'calendar/main.css' %}" rel="stylesheet"/>
{% endblock extracss %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-calendar"></i> Etkinlikler - {{ secili_kort }}</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anaysayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <nav class="navbar navbar-light bg-dark">
        <form>
            {% for kort in kortlar %}
                <a class="btn btn-primary m-1"
                   href="{% url 'calendarapp:takvim-getir_by_kort_id' kort.id %}">{{ kort.adi }}</a>
            {% endfor %}
        </form>
    </nav>
    <div class="row">
        <div class="col-md-12">
            <div class="tile row">
                <div class="col-md-2">
                    <div id="external-events">
                        <h4 class="mb-4 border-bottom">Bugün Aktif Etkinlikler</h4>
                        {% for etkinlik in bugunun_etkinlikleri %}
                            <div id="rzvListItem" value="{{ etkinlik.id }}" class="fc-event"
                                 style="background-color: {{ etkinlik.renk }}">
                                <ul class="list-group">
                                    <li>Başlık: {{ etkinlik.baslik }}</li>
                                    <li>Saat: {{ etkinlik.baslangic_tarih_saat | date:"H:i" }}
                                        - {{ etkinlik.bitis_tarih_saat | date:"H:i" }}</li>
                                    <li>Açıklama: {{ etkinlik.aciklama |default_if_none:"" }}</li>
                                    <li>Grup: {{ etkinlik.grup }}</li>
                                </ul>
                            </div>
                        {% empty %}
                            <p>Aktif Etkinlik Bulunamadı</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-10">
                    <div id="calendar"></div>
                </div>

                <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h5 class="modal-title text-white" id="exampleModalLongTitle">Etkinlik Ekle</h5>
                                <button id="modalClose1" type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" action="#" role="form" id="etkinlikForm">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="row">
                                        {% for field in form %}
                                            <div class="form-group col-md-6 ">
                                                {% if field.name != 'pk' %}
                                                    <label for="{{ field.name }}"
                                                           class="form-control-label">{{ field.label_tag }}</label>
                                                {% endif %}
                                                <div class="">
                                                    {{ field }}
                                                    <p style="color:darkred">{{ field.help_text }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="modalClose2" type="button" class="btn btn-secondary">Kapat</button>
                                    <button id="btnSil" onclick="EtkinlikSil()" type="button"
                                            class="btn btn-danger">Temizle
                                    </button>
                                    <button id="btnSeriyiSil" hidden onclick="EtkinlikSerisiSil()" type="button"
                                            class="btn btn-outline-danger">Seriyi Sil
                                    </button>
                                    <button type="button" id="kaydetBtn" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'calendar/main.js' %}"></script>
    <script>
        let _selectedEvent;
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list',
                },
                initialDate: today,
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                select: function (arg) {
                    clearModalFields();
                    baslangic_saat = arg.startStr.split('+')[0];
                    bitis_saat = arg.endStr.split('+')[0];
                    $("#id_baslangic_tarih_saat").val(baslangic_saat);
                    $("#id_bitis_tarih_saat").val(bitis_saat);
                    openModal();
                    calendar.unselect()
                },
                // THIS KEY WON'T WORK IN PRODUCTION!!!
                // To make your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                // googleCalendarApiKey: 'AIzaSyCqCxjjLtjbtkX37aOtWB8OfwBLy_6QuYk',

                // bangladesh Holidays
                // events: 'bn.bd#holiday@group.v.calendar.google.com',
                eventClick: function (arg) {
                    // Etkinlik güncelle
                    document.getElementById("btnSil").innerText = "Sil"
                    document.getElementById("btnSeriyiSil").hidden = false;
                    openEditModal(arg.event);
                },
                eventDragStop: function (arg, event) {
                    {#console.log("sürükle bitti");#}
                },
                eventDrop: function (info) {
                    tarih = info.event.startStr.split('+')[0].split('T')[0];
                    saat = info.event.startStr.split('+')[0].split('T')[1];
                    if (!confirm(info.event.title + " etkinliği  " + tarih + " - " + saat + " tarih saate taşınsın mı?")) {
                        info.revert();
                    } else {
                        id = info.event.id;
                        start = info.event.startStr.split('+')[0];
                        end = info.event.endStr.split('+')[0];
                        let result = etkinlikTasi(id, start, end);
                        debugger;
                        if (!result) {
                            info.revert();
                        }
                    }
                },
                eventResize: function (info) {
                    tarih = info.event.startStr.split('+')[0].split('T')[0];
                    saat = info.event.startStr.split('+')[0].split('T')[1];
                    if (!confirm(info.event.title + " etkinliği  " + tarih + " - " + saat + " tarih saat olarak değiştirilsin mi?")) {
                        info.revert();
                    } else {
                        id = info.event.id;
                        start = info.event.startStr.split('+')[0];
                        end = info.event.endStr.split('+')[0];
                        let result = etkinlikTasi(id, start, end);
                        debugger;
                        if (!result) {
                            info.revert();
                        }
                    }
                },

                eventDragStart: function (arg) {
                },
                eventAdd: function (arg) {
                    console.log("eklendi")
                },
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: {{ events|safe }},
                eventDidMount: function (arg) {
                    console.log({{ events|safe }})
                    // Takvim üzerindeki etkinlik renklerinin gösterilmesi için
                    arg.el.style.backgroundColor = arg.event.backgroundColor
                },

            });
            calendar.render();
        });
        const closeBtn1 = document.getElementById('modalClose1');
        const closeBtn2 = document.getElementById('modalClose2');
        closeBtn1.addEventListener('click', () => closeModal());
        closeBtn2.addEventListener('click', () => closeModal());

        $('#kaydetBtn').click(function () {
            let form = $('#etkinlikForm');
            let data = form.serialize();
            debugger;
            $.ajax({
                url: "{% url 'calendarapp:kaydet_etkinlik_ajax' %}",
                data: data,
                type: "post",
                dataType: 'json',
                success: function (data) {
                    if (data.durum == "ok") {
                        $('#etkinlikForm').modal('hide');
                        clearModalFields();
                        popupMesajGoster(data.mesaj, 'success');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    } else {
                        popupMesajGoster(data.mesaj, "error");
                    }
                }
            });
        });

        function openEditModal(event) {
            _selectedEvent = event;

            $.ajax({
                url: '{% url 'calendarapp:getir_etkinlik_by_id' %}',
                type: 'GET',
                data: {
                    'id': event.id
                },
                success: function (data) {
                    const eventModal = document.getElementById('eventModal')
                    eventModal.style.display = 'block';
                    for (let item in data) {
                        if (data[item] != "null" || data[item] != "undefined" || data[item] != "") {
                            let key = item == 'id' ? 'pk' : item
                            let element = document.getElementById("id_" + key);
                            if (element)
                                element.value = data[item];
                        }
                    }
                }
            });
        }

        function EtkinlikSil() {
            if (_selectedEvent) {
                if (confirm('Bu etkinlik silinsin mi?')) {
                    $.ajax({
                        url: '{% url 'calendarapp:sil_etkinlik_by_ajax' %}',
                        type: 'GET',
                        data: {
                            'id': _selectedEvent.id
                        },
                        success: function (result) {
                            console.log(result.message)
                            _selectedEvent.remove();
                            closeModal();
                            popupMesajGoster(result.message);
                        }
                    });
                }
            } else
                clearModalFields();
        }

        function EtkinlikSerisiSil() {
            if (_selectedEvent) {
                debugger;
                if (confirm('Bu etkinlik serisi silinsin mi?')) {
                    $.ajax({
                        url: '{% url 'calendarapp:sil_etkinlik_serisi_by_id' %}',
                        type: 'GET',
                        data: {
                            'id': _selectedEvent.id
                        },
                        success: function (result) {
                            console.log(result.message)
                            _selectedEvent.remove();
                            closeModal();
                            popupMesajGoster(result.message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1500);
                        }
                    });
                }
            } else
                clearModalFields();
        }


        //function clear modal fields
        function clearModalFields() {
            let elements = document.getElementsByClassName("form-control");
            for (let i = 0; i < elements.length; i++) {
                elements[i].value = "";
            }
        }

        // function modal close
        function closeModal() {
            _selectedEvent = null;
            const eventModal = document.getElementById('eventModal')
            eventModal.style.display = 'none';
        }

        function openModal() {
            _selectedEvent = null;
            document.getElementById("btnSil").innerText = "Temizle";
            document.getElementById("btnSeriyiSil").hidden = true;
            const eventModal = document.getElementById('eventModal')
            eventModal.style.display = 'block';
        }

        function etkinlikTasi(id, start, end) {
            let retVal = false;
            $.ajax({
                url: '{% url 'calendarapp:saat_guncelle_etkinlik_ajax' %}',
                type: 'GET',
                async: false,
                data: {
                    'id': id,
                    'baslangic_tarih_saat': start,
                    'bitis_tarih_saat': end
                },
                success: function (result) {
                    if (result.durum == "ok") {
                        retVal = true;
                        popupMesajGoster(result.mesaj, 'success');
                    } else {
                        popupMesajGoster(result.mesaj, "error");
                    }
                },
                error: function (result) {
                    popupMesajGoster(result.message, "error");
                },
            });
            return retVal;
        }
    </script>
{% endblock extrascripts %}
