{% load static %}

<!-- Core  -->
<script src="{% static 'template/classic/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/selectize/selectize.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'template/classic/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'template/classic/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>


<!-- Scripts -->
<script src="{% static 'template/classic/global/js/Component.js' %}"></script>
<script src="{% static 'template/classic/global/js/Plugin.js' %}"></script>
<script src="{% static 'template/classic/global/js/Base.js' %}"></script>
<script src="{% static 'template/classic/global/js/Config.js' %}"></script>

<script src="{% static 'template/classic/base/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'template/classic/base/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'template/classic/base/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'template/classic/base/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'template/classic/base/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'template/classic/global/js/config/colors.js' %}"></script>
<script src="{% static 'template/classic/base/assets/js/config/tour.js' %}"></script>

<!-- Page -->
<script src="{% static 'template/classic/base/assets/js/Site.js' %}"></script>
<script src="{% static 'template/classic/global/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'template/classic/global/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'template/classic/global/js/Plugin/switchery.js' %}"></script>


