<script>
    function popupMesajGoster(mesaj, durum = "success") {
        if (durum == "success") {
            toastr.success(mesaj);
        } else {
            toastr.error(mesaj);
        }
    }
</script>

{% block message %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    popupMesajGoster("{{ message.message }}");
                </script>
            {% elif message.tags == 'danger' %}
                <script>
                    popupMesajGoster("{{ message.message }}", "danger");
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}