{% load static %}
<div class="modal fade " id="odemeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Ödeme / Borç Detayı</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
            <div class="container-fluid ">
                <div class="col-sm-12">
                    <form autocomplete="off" id="odemeForm">
                        <div class="row">
                            <input type="hidden" value="{{ muhasebe_id }}" name="id_muhasebe">
                            <div class="form-group col-md-2">
                                <label class="form-control-label" for="id_tutar">Tutar</label>
                                <input type="number" class="form-control" id="id_tutar"
                                       name="tutar" placeholder="Tutar"
                                       autocomplete="off">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="form-control-label" for="id_tarih">Tarih</label>
                                <input type="date" class="form-control" id="id_tarih"
                                       name="tarih" placeholder="Tarih"
                                       autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" for="id_aciklama">
                                    Açıklama</label>
                                <input type="text" class="form-control" id="id_aciklama"
                                       name="aciklama" placeholder="Açıklama"
                                       autocomplete="off">
                            </div>
                            <div class="form-group col-md-2">
                                <label class="form-control-label" for="id_aciklama">İşlemler</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a id="odemeKaydetBtn"
                                           class="btn btn-outline btn-sm btn-success mr-2">Kaydet</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a id="odemeTemizleBtn" onclick="formTemizle()"
                                           class="btn btn-outline btn-sm btn-primary">Temizle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            </div>
            <div class="modal-footer">
{#                <button onclick="EtkinlikDuzenle({{ etkinlik.id }})" type="button" class="btn btn-success">#}
{#                    Düzenle#}
            </div>
        </div>
    </div>
</div>