{% extends 'base/base.html' %}
{% load static %}

{% block title %}Sabit Program{% endblock title %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
{% endblock extracss %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static '/js/jspdf/html2canvas.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/jspdf/jspdf.min.js' %}"></script>
{% endblock %}
{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Sabit Program</h1>
        <p>Haftalık Sabit Etkinlik Listesi</p>
    </div>
    <div class="btn-group" aria-label="Basic example" role="group">
        <button type="button" class="btn btn-outline btn-default" onclick="printDiv()"><i
                class="icon wb-download"></i>İndir
        </button>
    </div>
{% endblock breadcrumb %}

{% block content %}

    <div id="divContent" class='html-content'>
        {{ kortlar|safe }}
    </div>
    <div id="detayModalDiv"></div>
    <div id="kaydetModalDiv"></div>
    <div id="bekleyenModalDiv"></div>
    <script>
        $(document).ready(function () {
            {% for gun in haftanin_gunleri %}
                sabitPlaniGetir('{{ gun }}');
            {% endfor %}
        });

        function sabitPlaniGetir(sorgulanan_gun) {
            let plan;
            $.ajax({
                    url: "{% url 'calendarapp:sabit_plan_gunun_etkinlikleri_ajax' %}",
                    type: "GET",
                    dataType: "json",
                    //  async: false,
                    data: {
                        'tarih': sorgulanan_gun
                    },
                    success: function (result) {
                        for (let i = 0; i < result.liste.length; i++) {
                            plan = result.liste[i];
                            let hucreIdListesi = planinDahilOlduguHucreIdleri(plan.baslangic_tarih_saat, plan.bitis_tarih_saat, plan.kort_id);
                            for (let j = 0; j < hucreIdListesi.length; j++) {
                                let eklenecekDivs = $("div[id^='" + hucreIdListesi[j] + "']");
                                if (eklenecekDivs == null || eklenecekDivs.length == 0) {
                                    continue;
                                } else {
                                    let bolunme_sayisi = bolunmeSayisiGetir(plan.seviye);
                                    for (let t = bolunme_sayisi; t < eklenecekDivs.length; t++) {
                                        //fazla divleri sil
                                        eklenecekDivs[t].remove();
                                    }
                                    eklenecekDivs[0].classList.add('doluEtkinlik');
                                    eklenecekDivs[0].classList.remove('bosEtkinlik');
                                    eklenecekDivs[0].classList.remove('bg-white');
                                    eklenecekDivs[0].setAttribute('id', plan.id);
                                    eklenecekDivs[0].setAttribute('style', 'background-color:' + plan.renk);
                                    eklenecekDivs[0].innerHTML = plan.grup;
                                }
                            }
                        }
                    }
                }
            )
        }

        function planinDahilOlduguHucreIdleri(baslangic_tarih_saat, bitis_tarih_saat, kort_id) {
            let baslangic = new Date(baslangic_tarih_saat);
            let bitis = new Date(bitis_tarih_saat);
            let yarim_saat_sayisi = (bitis - baslangic) / 1000 / 60 / 30;
            let idList = [];
            let id;
            for (let i = 0; i < yarim_saat_sayisi; i++) {
                let saat;
                let dakkika;
                if (baslangic.getMinutes() == 0)
                    dakkika = baslangic.getMinutes() + '0';
                else
                    dakkika = baslangic.getMinutes();
                if (baslangic.getHours() < 10)
                    saat = '0' + baslangic.getHours();
                else
                    saat = baslangic.getHours();
                saat = saat + '-' + dakkika;
                baslangic.setMinutes(baslangic.getMinutes() + 30);
                id = 'saat_' + saat + '_kort_' + kort_id + '_tarih_' + baslangic.toISOString().split('T')[0]
                idList.push(id);
            }
            return idList;
        }

        function bolunmeSayisiGetir(seviye) {
            if (seviye === 'Kirmizi') {
                return 5;
            } else if (seviye === 'Turuncu' | seviye === 'Sari' | seviye === 'Yesil') {
                return 2;
            } else if (seviye === 'Yetiskin') {
                return 1;
            } else if (seviye === 'TenisOkulu') {
                return 6;
            }
        }

        $(document).on('click', '.doluEtkinlik', function () {
            let id = $(this).attr('id');
            if (id != null && id != undefined) {
                $.ajax({
                    url: " {% url 'calendarapp:sabit_plan_detay_modal_getir_ajax' %}",
                    type: "GET",
                    data: {
                        'plan_id': id
                    },
                    dataType: "json",
                    success: function (result) {
                        $('#detayModalDiv').html(result.html);
                        $('#detayModal').modal('show');
                    }
                });
            }
        });

        $(document).on('click', '.bosEtkinlik', function () {
            let parent_id = $(this).parent().attr('id');
            let kort_id = parent_id.split('_')[0];
            let baslangic_tarih = parent_id.split('_')[1];
            let saat = parent_id.split('_')[2].replace('-', ':');
            let baslangic_tarih_saat = baslangic_tarih + 'T' + saat;
            kayitModalAc(baslangic_tarih_saat, kort_id)
        });

        function kayitModalAc(baslangic_tarih_saat, kort_id) {
            $.ajax({
                url: "{% url 'calendarapp:sabit_plan_kaydet_modal_getir_ajax' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'baslangic_tarih_saat': baslangic_tarih_saat,
                    'kort_id': kort_id
                },
                success: function (result) {
                    $('#kaydetModalDiv').html(result.html);
                    $('#kaydetModal').modal('show');
                }
            });
        }

        $(document).on('click', '.beklenenSaat', function () {
            let id = $(this).attr('id');
            let gun = id.split('_')[1];
            let saat = id.split('_')[0].replace('-', ':');
            bekleyenListesiModalDoldurAc("", gun, saat);
        });

        function bekleyenListesiModalDoldurAc(tarihSaat, beklenenGun = "", beklenenSaat = "") {
            $.ajax({
                url: "{% url 'calendarapp:bekleyen_musteri_modal_getir_ajax' %}",
                type: "GET",
                dataType: "json",
                data: {
                    'tarih_saat': tarihSaat,
                    'beklenen_gun': beklenenGun,
                    'beklenen_saat': beklenenSaat,
                },
                success: function (result) {
                    $('#bekleyenModalDiv').html(result.html);
                    $('#bekleyenModal').modal('show');
                }
            });
        }

        function printDiv() {
            var HTML_Width = $(".html-content").width();
            var HTML_Height = $(".html-content").height();
            var top_left_margin = 80;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;
            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($(".html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("etkinlikler.pdf");
            });
        }

    </script>
{% endblock content %}
