{% extends 'base/base.html' %}
{% load static %}
{% block title %}Kort Listesi{% endblock title %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
    {#    <link rel="stylesheet" href="{% static 'template/classic/global/vendor/bootstrap-select/bootstrap-select.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'template/classic/base/assets/examples/css/apps/documents.css' %}">#}
{% endblock extracss %}
{% block extrascripts %}
{#    {% include 'base/remark_js.html' %}#}
    {#    <script src="{% static 'template/classic/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/global/vendor/bootstrap-select/bootstrap-select.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/global/vendor/stickyfill/stickyfill.js' %}"></script>#}
    {##}
    {#    <script src="{% static 'template/classic/global/js/Plugin/matchheight.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/global/js/Plugin/bootstrap-select.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/global/js/Plugin/animate-list.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/base/assets/js/Site.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/base/assets/js/App/Documents.js' %}"></script>#}
    {#    <script src="{% static 'template/classic/base/assets/examples/js/apps/documents.js' %}"></script>#}
    {#        <script>#}
    {#            (document, window, jQuery);#}
    {#        </script>#}
{% endblock extrascripts %}
{% block content %}
    <div class="page-content">
        <div class="">
            <div class="panel border">
                <div class="panel-heading">
                    <h3 class="panel-title">Filtrele</h3>
                </div>
                <div class="panel-body container-fluid">
                    <form autocomplete="off" id="filtreForm" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="form-control-label" for="id_baslangic_tarihi">Başlangıç Tarihi</label>
                                <input type="date" class="form-control" id="id_baslangic_tarihi"
                                       name="baslangic_tarihi" placeholder="Başlangıç Tarih"
                                       autocomplete="off">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-control-label" for="id_bitis_tarihi">Bitiş Tarihi</label>
                                <input type="date" class="form-control" id="id_bitis_tarihi"
                                       name="bitis_tarihi" placeholder="Bitiş Tarih"
                                       autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label">Tutar Aralığı</label>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" id="id_tutar_min"
                                               name="tutar_min" placeholder="Min"
                                               autocomplete="off">
                                    </div>
                                    <label>_</label>
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" id="id_tutar_max"
                                               name="tutar_max" placeholder="Max"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="form-control-label" for="id_aciklama">İşlemler</label>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a id="filtreBtn" onclick="filtreleGetir()"
                                           class="btn btn-outline btn-sm btn-success mr-2">Filtre</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a id="temizleBtn" onclick="formTemizle()"
                                           class="btn btn-outline btn-sm btn-primary">Temizle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                 <div class="panel-footer">
                        <div class="row">
                           <p class="red-900">{{ filtreMetni |default_if_none:"" }}</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel border">
                    <div class="panel-heading">
                        <h3 class="panel-title">Para Girişleri</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <table id="tableIn" class="table table-bordered dataTable table-responsive-lg">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Üye</th>
                                <th>Paket / Üyelik</th>
                                <th>Tutar</th>
                                <th>Tarih</th>
                                <th>Açıklama</th>
                                <th>İşlemler</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for giris in para_girisleri %}
                                <tr>
                                    <td class="sorting_1">{{ forloop.counter }}</td>
                                    <td>{{ giris.uye }}</td>
                                    <td>{{ giris.paket |default_if_none:""}}</td>
                                    <td>{{ giris.tutar }}</td>
                                    <td>{{ giris.tarih }}</td>
                                    <td>{{ giris.aciklama| default_if_none:"" }}</td>
                                    <td>
                                        <a class="btn btn-secondary btn-circle" title="Üye Profiline Git"
                                           href="{% url 'calendarapp:profil_uye' giris.uye_id %}">
                                            <i class="fa fas fa-user" style="color: black"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="panel-title">Toplam Giriş: <span
                                        id="toplamGiris">{{ toplam_giris | default_if_none:"0" }} TL</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel border">
                    <div class="panel-heading">
                        <h3 class="panel-title">Para Çıkışları</h3>
                    </div>
                    <div class="panel-body container-fluid">
                        <table id="tableIn" class="table table-bordered dataTable table-responsive-lg">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Antrenör</th>
                                <th>Ödeme Türü</th>
                                <th>Tutar</th>
                                <th>Tarih</th>
                                <th>Açıklama</th>
                                <th>İşlemler</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cikis in para_cikislari %}
                                <tr>
                                    <td class="sorting_1">{{ forloop.counter }}</td>
                                    <td>{{ cikis.antrenor }}</td>
                                    <td>{{ cikis.odeme_turu | default_if_none:""}}</td>
                                    <td>{{ cikis.tutar }}</td>
                                    <td>{{ cikis.tarih }}</td>
                                    <td>{{ cikis.aciklama| default_if_none:"" }}</td>
                                    <td>
                                        <a class="btn btn-secondary btn-circle" title="Üye Profiline Git"
                                           href="{% url 'calendarapp:profil_uye' cikis.antrenor_id %}">
                                            <i class="fa fas fa-user" style="color: black"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="panel-title">Toplam Çıkış: <span
                                        id="toplamCikis">{{ toplam_cikis |default_if_none:"0" }} TL </span></h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function formTemizle() {
            let elements = document.getElementsByClassName("form-control");
            for (let i = 0; i < elements.length; i++) {
                elements[i].value = "";
            }
        }

        function filtreleGetir() {
            document.getElementById("filtreForm").submit();
        }
    </script>
{% endblock content %}