{% extends 'base/base.html' %}
{% load static %}

{% block title %}Üye Kayıt{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Kayıt Formu</h1>
        <p>Üye Kayıt</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block extracss %}
    {% include 'base/remark_css.html' %}
{% endblock extracss %}
{% block extrascripts %}
    {#    <script type="text/javascript" src="{% static '/js/jspdf/html2canvas.js' %}"></script>#}
    {#    <script type="text/javascript" src="{% static '/js/jspdf/jspdf.min.js' %}"></script>#}
{% endblock %}

{% block content %}
    <div class="row mb-10">
        {% if not duzenleme_mi %}
            <div class="col-md-6">
                <a class="btn btn-success btn-block" href="{% url 'calendarapp:kaydet_uye' uye_tipi=1 %}">Yetişkin
                    Kayıt</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-info btn-block" href="{% url 'calendarapp:kaydet_uye'  uye_tipi=2 %}">Sporcu Kayıt</a>
            </div>
        {% endif %}
    </div>
    {% if form %}
        <div class="panel bg-blue-grey-300">
        <div class="panel-heading">
            <h2 class="panel-title">{% if uye_tipi == 1 %}Yetişkin Üye {% else %} Sporcu {% endif %} Kayıt</h2>
            <div class="panel-body">
                <form autocomplete="nope" method="post"
                        {% if form.instance.id %}
                      action="{% url 'calendarapp:guncelle_uye' form.instance.id %}">
                        {% else %}
                            action="{% url 'calendarapp:kaydet_post' %}">
                        {% endif %}
                {% csrf_token %}
                <input type="hidden" name="uye_tipi" value="{{ uye_tipi }}">
                <div class="row ">
                    {% for field in form %}
                        <div class="col-md-6 offset-md-3">
                            <div class="form-group row">
                                {% if field.name != "uye_tipi" %}
                                    <div class="col-md-4">
                                        {{ field.label }}
                                    </div>
                                {% endif %}
                                <div class="col-md-8">
                                    {{ field }}
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            <span class="text-help">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <button type="submit" class="btn btn-primary float-right">Kaydet</button>
                        <a href="{% url 'calendarapp:index_uye' %}"
                           class="btn btn-secondary float-right mr-2">Geri</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}