{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Muhasebe
{% endblock %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
{% endblock extracss %}

{% block extrascripts %}
    {% include 'base/remark_js.html' %}
{% endblock extrascripts %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel border">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>{{ uye }}</b> Üyesinin Aylık Borç/Ödeme Durumu</h3>
                </div>
                <div class="panel-body container-fluid">
                    <table class="table table-bordered dataTable table-fixed">
                        <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>Ay</th>
                            <th>Ödenen</th>
                            <th>Alacak</th>
                            <th>Fark</th>
                            <th>İşlemler</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for muhasebe in muhasebe_list %}
                            <tr>
                                <td>{{ muhasebe.yil }}</td>
                                <td>{{ muhasebe.ay }}</td>
                                <td>{{ muhasebe.toplam_aylik_odeme }}</td>
                                <td>{{ muhasebe.toplam_aylik_borc }}</td>
                                <td class="{% if muhasebe.fark >= 0 %} bg-success {% else %} bg-danger {% endif %}">
                                    {{ muhasebe.fark }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" title="Detaylar Görüntüle"
                                            onclick="detayBilgileriniGetir('{{ muhasebe.uye_id }}',
                                                    '{{ muhasebe.yil }}','{{ muhasebe.ay }}')">
                                        <i class="fa fa-list"></i>
                                    </button>
                                    <button type="button" class="btn btn-dark" title="Ödeme/Borç Girişi"
                                            onclick="odemeGiris('{{ muhasebe.uye_id }}',
                                                    '{{ muhasebe.yil }}','{{ muhasebe.ay }}')">
                                        <i class="fa fa-plus-circle"></i>
                                    </button>
                                    {% if muhasebe.hesapla_butonu_gosterilecek_mi %}
                                        <a class="btn btn-info" title="Hesapla"
                                           href="{% url 'calendarapp:hesapla_uye_borcu' muhasebe.uye_id %}">
                                            <i class="fa fa-calculator"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <span> <h3>Ödeme Toplamı: {{ toplam_odeme |default_if_none:"0" }}</h3></span>
                        </div>
                        <div class="col-md-4">
                            <span> <h3>Borç Toplamı: {{ toplam_borc |default_if_none:"0" }}</h3></span>
                        </div>
                        <div class="col-md-4">
                            <span><h3>Fark : {{ toplam_fark|default_if_none:"0" }}</h3></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="odemeDiv"></div>
    <div id="detayDiv"></div>
    <script>
        function detayBilgileriniGetir(uye_id, yil, ay) {
            $.ajax({
                url: "{% url 'calendarapp:uye_muhasebe_detay_modal_getir_ajax' %}",
                data: {
                    'yil': yil,
                    'ay': ay,
                    'uye_id': uye_id,
                },
                type: "get",
                dataType: 'json',
                success: function (data) {
                    $('#detayDiv').html(data.html);
                    $('#detayModal').modal('show');
                }
            });
        }

        function odemeGiris(uye_id, yil, ay) {
            $.ajax({
                url: "{% url 'calendarapp:uye_muhasebe_odeme_modal_getir_ajax' %}",
                data: {
                    'yil': yil,
                    'ay': ay,
                    'uye_id': uye_id,
                },
                type: "get",
                dataType: 'json',
                success: function (data) {
                    $('#odemeDiv').html(data.html);
                    $('#odemeModal').modal('show');
                }
            });
        }

    </script>
{% endblock content %}