{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Profil
{% endblock %}
{% block extracss %}
    {% include 'base/remark_css.html' %}
    <link rel="stylesheet" href="{% static 'template/classic/base/assets/examples/css/pages/profile.css' %}">
{% endblock extracss %}

{% block extrascripts %}
    {% include 'base/remark_js.html' %}
{% endblock extrascripts %}
{% block content %}
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <!-- Page Widget -->
                <div class="card card-shadow">
                    <div class="card-header">
                        <h3 class="card-title">Üye Bilgileri</h3>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3">
                                <a class="icon fa fa-trash bg-danger float-right"
                                   href="{% url 'calendarapp:profil_foto_sil_uye' uye.id %}"
                                   title="Sil"></a>
                                <a class="icon fa fa-edit float-right" href="javascript:void(0)" title="Düzenle"></a>
                                <img class="img-fluid" src="/media/{{ uye.profil_fotografi }}"
                                     alt="...">
                                <h4 class="profile-user">{{ uye.adi }} {{ uye.soyadi }}</h4>
                                <div class="profile-social">
                                    <a class="icon bd-twitter" href="javascript:void(0)"></a>
                                    <a class="icon bd-facebook" href="javascript:void(0)"></a>
                                    <a class="icon bd-dribbble" href="javascript:void(0)"></a>
                                    <a class="icon bd-github" href="javascript:void(0)"></a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Doğum
                                            Tarihi:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.dogum_tarihi |default_if_none:"" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Üye No:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.uye_no }}" autocomplete="off" disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Kimlik No:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.kimlik_no|default_if_none:"" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Telefon:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.telefon|default_if_none:"" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">E-Mail:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.email|default_if_none:"" }}" autocomplete="off" disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Adres:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.adres|default_if_none:"" }}" autocomplete="off" disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Seviye
                                            Rengi:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.get_seviye_rengi_display|default_if_none:"" }}"
                                               autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Okul:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.okul|default_if_none:"" }}" autocomplete="off" disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Onay Durumu:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.onaylandi_mi|yesno:"Evet,Hayır" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Aktif mi:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.aktif_mi|yesno:"Evet,Hayır" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Üye Tipi:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.get_uye_tipi_display|default_if_none:"" }}"
                                               autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="">Veli Ad Soyad:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.veli_adi_soyadi |default_if_none:"" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-control-label" for="inputBasicFirstName">Veli
                                            Telefon:</label>
                                        <input type="text" class="form-control" id="inputBasicFirstName"
                                               name="first_name"
                                               value="{{ uye.veli_telefon |default_if_none:"" }}" autocomplete="off"
                                               disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row no-space">
                            <div class="col-4">
                                <strong class="profile-stat-count">260</strong>
                                <span> Yapılan Ders</span>
                            </div>
                            <div class="col-4">
                                <strong class="profile-stat-count">180</strong>
                                <span>Planlanan Ders</span>
                            </div>
                            <div class="col-4">
                                <strong class="profile-stat-count">2000</strong>
                                <span>İptal Ders</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Page Widget -->
            </div>
            <div class="col-lg-12">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h3 class="card-title">Paket ve Abonelikler</h3>
                    </div>
                    <div class="card-block border-bottom">
                        <div class="">
                            </b><h4 class="text-center">Abonelikler</h4>
                        </div>
                        <div class="table-responsive">
                            <div class="container-fluid ">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable table-fixed">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kişiler</th>
                                            <th>Kort</th>
                                            <th>Gün</th>
                                            <th>Başlangıç - Bitiş</th>
                                            <th>Süre</th>
                                            <th>Aktif Mi</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for abonelik in abonelikler %}
                                            <tr>
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ abonelik.grup }}</td>
                                                <td>{{ abonelik.kort }}</td>
                                                <td>{{ abonelik.gun_adi }}</td>
                                                <td>{{ abonelik.baslangic_tarih_saat| time:'H:i' }}
                                                    - {{ abonelik.bitis_tarih_saat| default_if_none:"" | time:'H:i' }}</td>
                                                <td>{{ abonelik.dakika_degeri }}</td>
                                                <td>{{ abonelik.aktif_mi | yesno:"Evet,Hayır" }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div>
                            <a href="{% url 'calendarapp:kaydet_uye_paket' uye.id %}"
                               class="btn btn-success m-10 float-right"><i class="fa fa-plus "></i>Paket Ekle</a>
                            </b><h4 class="text-center">Paketler</h4>
                        </div>
                        <div class="table-responsive">
                            <div class="container-fluid ">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable table-fixed">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Paket Adı</th>
                                            <th>Başlangıç - Bitiş</th>
                                            <th>Adet</th>
                                            <th>Kalan Adet</th>
                                            <th>Aktif Mi</th>
                                            <th>Grup Paketi Mi</th>
                                            <th>Özellikler</th>
                                            <th>İşlemler</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for paket in paketler %}
                                            <tr>
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ paket.ucret_tarifesi }}</td>
                                                <td>{{ paket.baslangic_tarih }}
                                                    - {{ paket.bitis_tarih|default_if_none:"" }}</td>
                                                <td>{{ paket.adet }}</td>
                                                <td>{{ paket.kalan_adet }}</td>
                                                <td>{{ paket.aktif_mi | yesno:"Evet,Hayır" }}</td>
                                                <td>{{ paket.grup_mu | yesno:"Evet,Hayır" }}</td>
                                                <td>{{ paket.ozellikler | default_if_none:"" }}</td>
                                                <td>
                                                    <a class="btn btn-primary btn-circle"
                                                       href="{% url 'calendarapp:guncelle_uye_paket' paket.id %}"
                                                       title="Kaydı Düzenle"><i
                                                            class="fa fa-edit black"></i></a>
                                                    <a href="{% url 'calendarapp:sil_uye_paket' paket.id %}"
                                                       class="btn btn-danger btn-circle confirm-delete"
                                                       title="Sil" data-toggle="modal"
                                                       data-target="#confirmDeleteModal"
                                                       id="delete_uye_{{ abonelik.id }}">
                                                        <i class="fa fa-trash black"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h3 class="card-title">Yapılacak Dersler</h3>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="container-fluid ">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable table-fixed">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kişiler</th>
                                            <th>Kort</th>
                                            <th>Antrenör</th>
                                            <th>Başlangıç - Bitiş</th>
                                            <th>İşlemler</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for etkinlik in yapilacak_etkinlikler %}
                                            <tr>
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ etkinlik.grup }}</td>
                                                <td>{{ etkinlik.kort }}</td>
                                                <td>{{ etkinlik.antrenor |default_if_none:"" }}</td>
                                                <td>{{ etkinlik.baslangic_tarih_saat| date:'d F H:i' }}
                                                    - {{ etkinlik.bitis_tarih_saat| date:'H:i' }}</td>
                                                <td>
                                                    <button class="btn btn-danger">İptal Et</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h3 class="card-title">Geçmiş Dersler</h3>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="container-fluid ">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable table-fixed">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kişiler</th>
                                            <th>Kort</th>
                                            <th>Antrenör</th>
                                            <th>Yönetici Onayı</th>
                                            <th>Antrenör Onayı</th>
                                            <th>Üye Onayı</th>
                                            <th>Başlangıç - Bitiş</th>
                                            <th>İşlemler</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for etkinlik in yapilan_etkinlikler %}
                                            <tr>
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ etkinlik.grup }}</td>
                                                <td>{{ etkinlik.kort }}</td>
                                                <td>{{ etkinlik.antrenor |default_if_none:"" }}</td>
                                                <td>{{ etkinlik.tamamlandi_yonetici |yesno:"Evet,Hayır" }}</td>
                                                <td>{{ etkinlik.tamamlandi_antrenor |yesno:"Evet,Hayır" }}</td>
                                                <td>{{ etkinlik.tamamlandi_uye |yesno:"Evet,Hayır" }}</td>
                                                <td>{{ etkinlik.baslangic_tarih_saat| date:'d F H:i' }}
                                                    - {{ etkinlik.bitis_tarih_saat| date:'H:i' }}</td>
                                                <td>
                                                    <button class="btn btn-success">Tamamlandı</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card card-shadow">
                    <div class="card-header">
                        <h3 class="card-title">İptal Edilen Dersler</h3>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="container-fluid ">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable table-fixed">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Kişiler</th>
                                            <th>Kort</th>
                                            <th>Antrenör</th>
                                            <th>Başlangıç - Bitiş</th>
                                            <th>İptal Eden</th>
                                            <th>İptal Tarih</th>
                                            <th>İşlemler</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for etkinlik in yapilan_etkinlikler %}
                                            <tr>
                                                <td class="sorting_1">{{ forloop.counter }}</td>
                                                <td>{{ etkinlik.grup }}</td>
                                                <td>{{ etkinlik.kort }}</td>
                                                <td>{{ etkinlik.antrenor |default_if_none:"" }}</td>
                                                <td>{{ etkinlik.baslangic_tarih_saat| date:'d F H:i' }}
                                                    - {{ etkinlik.bitis_tarih_saat| date:'H:i' }}</td>
                                                <td>{{ etkinlik.iptal_eden |default_if_none:"" }}</td>
                                                <td>{{ etkinlik.iptal_tarih_saat |default_if_none:"" }}</td>
                                                <td>
                                                    <button class="btn btn-info">Telafi Oluştur</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}