{% load static %}

<div class="modal fade " id="detayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Ödeme / Borç Detayı</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="container-fluid ">
                        <table class="table table-bordered dataTable table-fixed">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Üye</th>
                                <th>İşlem Tipi</th>
                                <th>Tarih</th>
                                <th>Tutar</th>
                                <th>Türü</th>
                                <th>Açıklama</th>
                                <th>İşlemler</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for para_haraket in para_hareketleri %}
                                <tr>
                                    <td class="sorting_1">{{ forloop.counter }}</td>
                                    <td>{{ para_haraket.uye }}</td>
                                    <td>{{ para_haraket.hareket_turu }}</td>
                                    <td>{{ para_haraket.tarih }}</td>
                                    <td>{{ para_haraket.tutar }}</td>
                                    <td>{{ para_haraket.ucret_turu }}</td>
                                    <td>{{ para_haraket.aciklama| default_if_none:"" }}</td>
                                    <td>
                                        {#                                        <a class="btn btn-primary btn-circle"#}
                                        {#                                           onclick="odemeDuzenle('{{ odeme.id }}')"#}
                                        {#                                           title="Kaydı Düzenle"><i#}
                                        {#                                                class="fa fa-edit black"></i></a>#}
                                        <a onclick="odemeSil('{{ para_haraket.id }}')"
                                           class="btn btn-danger btn-circle confirm-delete"
                                           title="Sil">
                                            <i class="fa fa-trash black"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {#                <button onclick="EtkinlikDuzenle({{ etkinlik.id }})" type="button" class="btn btn-success">#}
                {#                    Düzenle#}
            </div>
        </div>
    </div>
</div>
<script>
    $('#odemeKaydetBtn').click(function () {
        let form = $('#odemeForm');
        form.append('<input type="hidden" name="uye" value="{{ uye.id }}">');
        let datas = form.serialize();
        $.ajax({
            //url: "{% url 'calendarapp:kaydet_uye_odemesi_ajax' %}",
            data: datas,
            type: "get",
            dataType: 'json',
            success: function (data) {
                if (data.status == "success") {
                    popupMesajGoster(data.message, data.status);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            }
        });
    });

    function odemeDuzenle(id) {
        $.ajax({
            url: "{% url 'calendarapp:getir_odeme_by_id_ajax' %}",
            data: {id: id},
            type: "get",
            dataType: 'json',
            success: function (result) {
                if (result.status == "success") {
                    for (let item in result.data) {
                        $('#odemeForm').append('<input type="hidden" class="form-control" name="id" value="' + result.data.id + '">');
                        $('#odemeForm').append('<input type="hidden" name="uye" value="{{ uye.id }}">');
                        if (result.data[item] != "null" || result.data[item] != "undefined" || result.data[item] != "") {
                            let key = item == 'id' ? 'pk' : item
                            let element = document.getElementById("id_" + key);
                            if (element)
                                element.value = result.data[item];
                        }
                    }
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            }
        });
    }

    function odemeSil(odeme_id) {
        debugger;
        if (confirm('Silmek istediğinize emin misiniz?')) {
            let url = "/muhasebe/sil-odeme/" + odeme_id
            window.location.href = url;
        }
    }
</script>