{% extends 'base/base.html' %}
{% load static %}

{% block title %}Telafi Ders Kayıt{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Kayıt Formu</h1>
        <p>Telafi Ders Kayıt</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
    <div class="page-content">
        <div class="panel">
            <div class="panel-body">
                <form method="post" action="{% url 'calendarapp:kaydet_yapilan_telafi_ders' telafi_id %}" role="form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row p-2">
                            <div class="col-md-9 border p-md-2">
                                <div class="row">
                                    {% for field in form %}
                                        <div class="form-group col-md-6 ">
                                            {% if field.name != 'pk' %}
                                                <label for="{{ field.name }}"
                                                       class="form-control-label">
                                                    {{ field.label_tag }}
                                                    {% if field.help_text %}
                                                        <i class="fa fa-info-circle"
                                                           title="{{ field.help_text }}"></i>
                                                    {% endif %}
                                                </label>
                                            {% endif %}
                                            <div class="">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <button type="submit" class="btn btn-primary float-right">Kaydet</button>
                            <a href="{% url 'calendarapp:index_telafi_ders' %}"
                                    class="btn btn-secondary float-right mr-2">Kapat
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}