{% load static %}
<div class="modal fade " id="detayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Detay Bilgileri</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Katılımcı:</label>
                    </div>
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.grup }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Başlangıç:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.baslangic_tarih_saat }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Bitiş:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.bitis_tarih_saat }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Abonelik Tipi:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.get_abonelik_tipi_display }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Antrenör:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.antrenor |default_if_none:"" }}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">İlk Ders Başlangıç Tarihi:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled
                               value=" {{ etkinlik.ders_baslangic_tarihi |default_if_none:"" }}"/>
                    </div>
                    <div class="form-group col-md-1">
                        <label class="form-control-label" for="inputBasicFirstName">Top Rengi:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.get_seviye_display }}">
                    </div>
                    <div class="form-group col-md-1">
                        <label class="form-control-label" for="inputBasicFirstName">Kort:</label>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="text" class="form-control" disabled
                               value="{{ etkinlik.kort }}">
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Açıklama:</label>
                    </div>
                    <div class="form-group col-md-10">
                        <textarea type="text" class="form-control" disabled
                                  rows="3">{{ etkinlik.aciklama |default_if_none:"" }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Kayıt Eden:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.user }}">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="form-control-label" for="inputBasicFirstName">Kayıt Tarihi:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" disabled value="{{ etkinlik.created_at }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="Duzenle({{ etkinlik.id }})" type="button" class="btn btn-success">
                    Düzenle
                </button>
                <button id="btnSil" onclick="SilModalAc({{ etkinlik.id }})" type="button" class="btn btn-danger">Sil
                </button>
                <button type="button"
                        onclick="bekleyenListesiModalDoldurAc('{{ etkinlik.baslangic_tarih_saat |date:"Y-m-d" }}T{{ etkinlik.baslangic_tarih_saat |date:"H:i:s" }}')"
                        class="btn btn-info">Bekleyen Listesi
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="silModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Silme Onay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>* Bu sabit programa bağlı etkinliklerin hangi tarihten sonrakileri silinecek, seçiniz.</p>
                <p>* <b>Örnek:</b> 01.01.2023 tarihi ve sonrasını silmek istiyorsanız 01.01.2023 giriniz.</p>
                <p class="text-danger">* Tarih seçilmezse bugünden sonraki bütün etkinlikler silinecektir. Bu işlem
                    geri alınamaz!</p>
                <input type="date" class="form-control" id="etkinliklerinSilinecegiTarih">
            </div>
            <div class="modal-footer">
                <button type="btnTarihliSil" onclick="Sil()" class="btn btn-danger">Sil</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
            </div>
        </div>
    </div>
</div>

<script>
    let silinecekPlanId;

    function SilModalAc(id) {
        silinecekPlanId = id;
        $('#silModal').modal('show');
    }

    function Sil() {
        debugger;
        let tarih = $('#etkinliklerinSilinecegiTarih').val();
        $.ajax({
            type: "Get",
            url: "{% url 'calendarapp:sabit_plan_sil_ajax' %}",
            data: {
                'id': silinecekPlanId,
                'etkinlikleri_silinecegi_tarih': tarih
            },
            success: function (data) {
                if (data.status === 'success') {
                    $('#detayModal').modal('hide');
                    popupMesajGoster(data.message, data.status);
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            },
            error: function (data) {
                popupMesajGoster(data, 'error');
            }
        });
    }

    function Duzenle(id) {
        debugger;
        $.ajax({
            type: "Get",
            url: "{% url 'calendarapp:sabit_plan_duzenle_modal_getir_ajax' %}",
            data: {
                'id': id
            },
            success: function (data) {
                if (data.status === 'success') {
                    $('#kaydetModalDiv').html(data.html);
                    $('#detayModal').modal('hide');
                    $('#kaydetModal').modal('show');
                } else {
                    popupMesajGoster(data.message, data.status);
                }
            },
            error: function (data) {
                popupMesajGoster(data, 'error');
            }
        });
    }
</script>